.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.form {
    display: flex;
    justify-content: center;
    width: 800px;
    height: 450px;
    border-radius: 2px;
    text-align: left;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
}

.form h1 {
    text-align: center;
    width: 500px;
    color: white;
    font-family: 'Oswald', sans-serif;
}

.string {
    margin-bottom: 30px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.string label {
    color:white;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
}

.string input {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    background: transparent;
    color: white;
    outline: none;
    width: 290px;
    height: 40px;
    padding-left: 10px;
    border: none;
    border-bottom: 2px solid white;
}

.string input::placeholder {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}

.form button{
    width: 200px; 
    height: 10%;
    margin-bottom: 3%;
    border-radius: 12px;
    background: linear-gradient(45deg, hsla(193, 85%, 50%, 0.65), hsla(244, 93%, 40%, 0.65));
    border: none;
}

.form button a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#radio {
    display: flex;
    font-size: 15px;
    border-color: white;
    width: 500px;
    height: 40px;
}

.checkAgreement{    
    height: 8%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -1%;
    margin-left: 5%;
    color: white;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.checkAgreement input{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    padding-left: 45%;
}

.checkAgreement span {
    position: absolute;
    width: 16px;
    height: 16px;
    border: 2px solid white;
    margin-left: -45%;
}

.checkAgreement input:checked + span::before{
    content: "";
    width: 8px;
    height: 8px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.checkAgreement input:focus + span{
    box-shadow: 0 0 0 2px black;
}